<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CreateGifImages.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEAB9A171C7AB76F00EF3A15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEAB9A301C7AB76F00EF3A15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEAB9A3B1C7AB76F00EF3A15</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
